block config
    include config

include ../functions/_functions

doctype
<!--[if IE 8 ]>
html.no-js.ie8(lang="en")
<![endif]-->
<!--[if IE 9 ]>
html.no-js.ie9(lang="en")
<![endif]-->

html()&attributes({
    'class'   : ['no-js'],
    'lang'    : page_lang
})

    head
        meta(charset=charset)
        meta(name='description' content=page_description)
        meta(name='author' content=page_author)
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width initial-scale=1')
        meta(name='format-detection' content='telephone=no')

        link(rel='shortcut icon' href=path_image + 'favicon.ico')
        link(rel='apple-touch-icon' href=path_image + 'favicon.png')

        title= page_title


        link(rel='stylesheet' href=path_css + 'bootstrap.min.css')
        if add_font_awesome
            link(rel="stylesheet", href=path_css + 'font-awesome.min.css')
        link(rel='stylesheet' href=path_css + 'style.css')


        <!--[if lt IE 9]>
        script(src= path_js + 'html5shiv.min.js')
        script(src= path_js + 'respond.min.js')
        script(src= path_js + 'es5-shim.min.js')
        <![endif]-->

    body()&attributes({'class': body_classes})

        if add_preloader
            #preloader
                .loader
                    img(src=path_assets + "images/content/loader.gif", alt="Strona jest w trakcie ładowania")
        #ct-js-wrapper.ct-pageWrapper

            // Mobile toggle
            include ../includes/mobile-navtoggle

            // top bar
            include ../includes/top-bar

            // header
            include ../includes/header

            // Navigation
            if add_main_navbar
                include ../includes/main-navbar

            block page_content


            // Footer
            if add_footer
                include ../includes/footer
                include ../includes/arrow-to-top




        // Mobile Menu //
        if add_mobile_menu
            include ../includes/mobile-menu


        // JavaScripts
        block scripts
            include scripts
        // Block Plugins
        block plugins
