//- Base
- var body_classes        = ['cssAnimate']

//- Page Elements
- var add_mobile_menu     = true
- var add_main_navbar     = true
- var add_top_bar         = false
- var add_footer          = true
- var add_preloader       = true
- var add_arrow_scroll_up = false

//- Additional Styles
- var add_font_awesome    = true

//- Meta
- var charset           = 'UTF-8'
- var page_title        = "Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea"
- var page_lang         = "pl"
- var page_description  = "Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea"
- var page_author       = "wielicki-it"

//- Paths
- var path_assets   = "assets/"

- var path_js       = path_assets.concat("js/")
- var path_image    = path_assets.concat("images/")
- var path_content  = path_assets.concat("images/content/")
- var path_css      = path_assets.concat("css/")
