script(src=path_assets +"js/boilerplate.min.js")
script(src=path_assets +"js/tether.js")
script(src=path_assets +"js/main.js")
script(src=path_assets + "js/plugins/slick/js/slick.js")
script(src=path_assets + "js/plugins/slick/js/init.js")
script(src=path_assets + "js/plugins/ct-mediaSection/js/jquery.stellar.min.js")
script(src=path_assets + "js/skrollr.min.js")
script(src=path_assets + "js/plugins/ct-mediaSection/js/media-section.js")
script(src=path_assets + "js/plugins/lightgallery/lightgallery-all.js")
script(src=path_assets + "js/plugins/lightgallery/init.js")
script(src=path_assets + "js/plugins/portfolio/jquery.isotope.min.js")
script(src=path_assets + "js/plugins/portfolio/imagesloaded.js")
script(src=path_assets + "js/plugins/portfolio/init.js")
script(src=path_assets + "js/plugins/vimeo/froga.loop.min.js")