
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="_portfolioExtendBox text-left">
        <div class="_portfolioExtendBox_header">
          <h2 class="_portfolioExtendBox_header__title">Another title of Single Project</h2>
          <p class="_portfolioExtendBox_header__subtitle">
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum. Lorem ipsum dolor sit amet,
            consecretur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="_portfolioExtendBox_middle">
              <h3 class="_portfolioExtendBox_middle__projectTitle">Project - basic information</h3>
              <ul class="list-unstyled _list--projectsInfo">
                <li><strong><i class="fa fa-chevron-right"></i> Project name: <span>Super project</span></strong></li>
                <li><strong><i class="fa fa-chevron-right"></i> Location: <span>Warsaw</span></strong></li>
                <li><strong><i class="fa fa-chevron-right"></i> Date: <span>20.02.2016</span></strong></li>
                <li><strong><i class="fa fa-chevron-right"></i> Architect name: <span>Luandro Martinez</span></strong></li>
                <li><strong><i class="fa fa-chevron-right"></i> Category: <span>Cementary, Church</span></strong></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="_portfolioExtendBox_middle">
              <h3 class="_portfolioExtendBox_middle__projectTitle">Project - services</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis met vehicula et non dolor. Aliquam accumsan velit pulvinar purus sodalessagittis lect accumsan. Aliquam sollicitudin, diam vitae consequat sodales mi sem sollicia dignissim massa mauris sed turpis. Donec laoreet faucibus metus a mollis.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_promoBox">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 ct-u-padding-both-75">
        <div class="_iconBox _iconBox--motive text-center">
          <div class="_iconBox__icon"><i class="fa fa-paper-plane"></i></div>
          <div class="_iconBox__content">
            <h3 class="_iconBox__title">About our</h3>
            <h4 class="_iconBox__subtitle">Company</h4>
            <p class="_iconBox__description">Know more about our company</p><a href="#" class="btn btn--whiteBorder">About page<i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ct-u-padding-both-75">
        <div class="_iconBox _iconBox--motive text-center">
          <div class="_iconBox__icon"><i class="fa fa-pencil"></i></div>
          <div class="_iconBox__content">
            <h3 class="_iconBox__title">Our blog</h3>
            <h4 class="_iconBox__subtitle">Posts</h4>
            <p class="_iconBox__description">Check out our recent news and events</p><a href="#" class="btn btn--whiteBorder">Blog page<i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ct-u-padding-both-75">
        <div class="_iconBox _iconBox--motive text-center">
          <div class="_iconBox__icon"><i class="fa fa-photo"></i></div>
          <div class="_iconBox__content">
            <h3 class="_iconBox__title">Gallery</h3>
            <h4 class="_iconBox__subtitle">Folio</h4>
            <p class="_iconBox__description">Check our portfolio and photos</p><a href="#" class="btn btn--whiteBorder">Gallery page<i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>