// main: ../../../scss/style.scss

/* -------------------- Media Sections  -------------------- */

[data-type="video"] {
  overflow: hidden;
  position: relative;

  .ct-media-container {
    position        : absolute;
    min-width       : 100%;
    overflow        : hidden;
    background-color: #000;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%,-50%);
    // if video is distorted comment height and max-height here
    height          : 100%;
    max-height      : 100%;

    video, iframe {
      min-width: 100%;
      min-height: 100%;
      width: auto;
    }

    // &:before {
    //   content: '';
    //   @include full-absolute;
    //   background: rgba(255,255,255,0.001)
    // }

  }

}

// Pattern //
[data-type="pattern"] {
  background-size:   contain !important;
  background-repeat: repeat !important;
}

// Ken Burns Effect //
[data-type="kenburns"] {
  overflow: hidden;

  .ct-media-container {
    height             : 100%;
    width              : 100%;
    overflow           : hidden;
    position           : absolute;
    top                : 0;
    //margin-left      : -5%;
    transition-property: opacity, transform;
    transition-duration: 3s, 8s;

    > img {
      vertical-align   : middle;
      max-width        : none;
      position         : absolute;
      //top            : 50%;
     // margin-top     : -550px;
      min-width        : 120%;
      min-height       : 100%;
      opacity          : 0;

       &.singlefx{
        opacity        : 1;
      }
    }
  }
}

[data-type="kenburns"] .ct-mediaSection-kenburns> img  {
  transform-origin: bottom left;
}
[data-type="kenburns"] .ct-mediaSection-kenburns :nth-child(2n+1) {
  transform-origin: top right;
}
[data-type="kenburns"] .ct-mediaSection-kenburns :nth-child(3n+1) {
  transform-origin: top left;
}
[data-type="kenburns"] .ct-mediaSection-kenburns :nth-child(4n+1) {
  transform-origin: bottom right;
}
[data-type="kenburns"] .ct-mediaSection-kenburns .fx:first-child + img ~ img  {
  z-index:-1;
}
[data-type="kenburns"] .ct-mediaSection-kenburns .fx {
  opacity: 1;
  transform: scale(1.1) translate(30px);
}
[data-type="kenburns"] .ct-mediaSection-kenburns .singlefx {
  animation: singleimageloop 20s infinite; /* IE 10+ */
}
@keyframes singleimageloop {
  0%   {  transform: scale(1)   translate(0px); }
  50%  {  transform: scale(1.1) translate(30px); }
  100% {  transform: scale(1)   translate(0px); }
}
