.ct-nav {
  position: relative;
  z-index: 999;
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar.is-fixed.sticky-menu{
  @include box-shadow(0 5px 2px -4px gray);
}

.navbar.navbar-default{
  margin: 0;
   border: 0;
   background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
   background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#f8f8f8));
   background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
   .navbar-collapse{
     padding: 0;
   }
   .navbar-nav{
     > li {
       border-right: 1px solid rgba(0, 0, 0, 0.1);
       position: relative;
       &.active{
         &:before{
           height: 12px;
           width: 100%;
           -webkit-transform: skewX(45deg);
           -ms-transform: skewX(45deg);
           transform: skewX(45deg);
           background: #ae902e;
           display: block;
           content: '';
           margin: -12px 0 0 6px;
         }
       }
       > a {
         padding: 30px 30px 32px 30px;
         text-transform: uppercase;
         color: #333d40;
         background-color: transparent;
         @include font-size(2.0);
         @media (max-width: $screen-md-max){
           @include font-size(1.5);
           padding: 20px 20px 22px 20px;
         }
         @media (max-width: $screen-sm-max){
           @include font-size(1.4);
           font-weight: 700;
           padding: 20px 18px 22px 18px;
         }
       }
       &.active{
         > a{
           color: #fff;
           position: relative;
           &:before{
             position: absolute;
             content: '';
             display: block;
             width: 100%;
             height: 12px;
             top: 0;
             left: 0;
             margin-top: -12px;
           }
           &:after{
             content: '';
             display: block;
             width: 0;
             height: 0;
             border-left: 0 solid transparent;
             border-right: 20px solid transparent;
             position: absolute;
             bottom: -25px;
             left: 0;
             z-index: 9;
           }
         }
       }
       &:not(.active){
         > a {
           &:hover{
             color: #fff;
           }
         }
       }
     }
   }
 }

.navbar.is-fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  z-index: 999;
}


// Less for dropdown

.navbar{
  .dropdown-menu{
    padding: 0;
    width: auto;
    min-width: 200px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    visibility: hidden;
    border: none;
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
    transform: rotate3d(1, 0, 0, -90deg);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    li{
      width: auto;
      border-right: 0;
      border-bottom: 1px solid transparent;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      &:nth-child(odd){
        -webkit-transform: rotate3d(-1, 0, -1, -90deg);
        transform: rotate3d(-1, 0, -1, -90deg);
      }
      &:nth-child(even){
        -webkit-transform: rotate3d(1, 0, 1, -90deg);
        transform: rotate3d(1, 0, 1, -90deg);
      }
      *:last-child{
        border-bottom: 0;
      }
      a{
        background: #293133;
        color: #FFF;
        line-height: 60px;
        text-align: left;
        padding: 0 15px;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        @include font-size(1.3);
        @media (max-width: $screen-md-max){
          @include font-size(1.1);
        }
        &:hover{
          background: dimgray;
        }
      }
    }
  }
}
.navbar .dropdown:hover{
  .dropdown-menu{
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
    li{
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
      transform: rotate3d(0, 0, 0, 0deg);
    }
  }
}
.navbar.navbar-default{
  display: none;
}
@media (min-width: $screen-sm){
  .navbar.navbar-default{
    display: block;
  }
}

@media (max-width: $screen-xs-max) {
  ._navbarMobile {
    display: block;
    position: absolute;
    height: 40px;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background-color: #fff;
    .navbar-toggle {
      padding: 0;
      width: 24px;
      height: 16px;
      top: 50%;
      margin: -8px 0 0;
      right: 15px;
      .icon-bar {
        background-color: #000000;
      }
    }
  }
}
