/* Beating heart */

@-webkit-keyframes beatingHeart {
  0% {
    @include transform(scale(1))
  }
  50% {
    @include transform(scale(1.2))
  }
  100% {
    @include transform(1.3)
  }
}

@keyframes beatingHeart {
  0% {
    @include transform(scale(1))
  }
  50% {
    @include transform(scale(1.2))
  }
  100% {
    @include transform(1.3)
  }
}

// Utilities class for #beatingHeart

._anim--beatingHeart {
  @include animation(beatingHeart 2s infinite);
}