extends  ../includes/portfolio-extend
block title
    | Another title of Single Project
block subtitle
    | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum. Lorem ipsum dolor sit amet,
    | consecretur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
block list
    li: strong #[i.fa.fa-chevron-right] Project name: #[span Super project]
    li: strong #[i.fa.fa-chevron-right] Location: #[span Warsaw]
    li: strong #[i.fa.fa-chevron-right] Date: #[span 20.02.2016]
    li: strong #[i.fa.fa-chevron-right] Architect name: #[span Luandro Martinez]
    li: strong #[i.fa.fa-chevron-right] Category: #[span Cementary, Church]
block projectInfo
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis met vehicula et non dolor. Aliquam accumsan velit pulvinar purus sodalessagittis lect accumsan. Aliquam sollicitudin, diam vitae consequat sodales mi sem sollicia dignissim massa mauris sed turpis. Donec laoreet faucibus metus a mollis.
    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.