//- Icon box type 1
mixin iconBoxT1(boxIcon, boxTitle, boxDescription)
    .media._iconBox
        .media-left
            span._iconBox__icon
                i.fa(class="fa-" + boxIcon)
        .media-body
            h4.media-heading._iconBox__title=boxTitle
            p._iconBox__description=boxDescription


//- Icon box motive

mixin iconBoxMotive(icon, title, subtitle, description, btnLink, btnValue)
    ._iconBox._iconBox__motive
        ._iconBox__icon
            i.fa=icon
        ._iconBox__content
            h3._iconBox__title=title
            h4._iconBox__subtitle=subtitle
            p._iconBox__description=description
            a(href=btnLink ).btn.btn-whiteBorder=btnValue
