mixin accordion()
  #accordion.panel-group._accordion(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
            span._accordion-icon
              i.fa.fa-plus
            | Czy dzięki BrainPortowi można widzieć?
      #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
        .panel-body
          p NIE. BrainPort pozwala na „odczucie” obrazu na języku.
          p
            | Użytkownik musi poświęcić sporo czasu aby opanować posługiwanie się urządzeniem i nauczyć
            | się interpretować odczuwane obrazy. Osoby oczekujące szybkiego efektu w
            | postaci widzenia mogą się czuć zawiedzione działaniem BrainPortu.
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            span._accordion-icon
              i.fa.fa-plus
            | Jak długo trwa szkolenie i trening w posługiwaniu się BrainPortem?
      #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body
          p Producent zaleca aby przyszły / potencjalny użytkownik odbył 10 godzin podstawowego szkolenia zanim zacznie użytkować aparat.
          p
            | Takie szkolenie pozwala na zapoznanie się z podstawowymi funkcjami urządzenia. Nabycie
            | sprawności w jego użytkowaniu może potrwać znacznie dłużej i jest
            | uzależnione od indywidualnych cech użytkownika oraz od jego sytuacji
            | osobistej / rodzinnej / społecznej.
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
            span._accordion-icon
              i.fa.fa-plus
            | Jak użytkownik odczuwa stymulację języka?
      #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body
          p Stymulacja języka jest wynikiem działania słabego prądu elektrycznego na zakończenia czuciowe języka.
          p
            | Jest ona odczuwana jako delikatne łaskotanie,
            | mrowienie lub lokalne, szybko ustępujące i zmienne drętwienie w obszarze
            | stymulacji, która odzwierciedla jasne punkty obrazu. Siłę tego odczucia można
            | dobrać indywidualnie dla każdego użytkownika, który może to zrobić sam za
            | pomocą regulatora zwiększającego siłę stymulacji w skali punktowej od 1 do
            | 100. Zbyt silna stymulacja może być odczuwana nieprzyjemnie granicząc z
            | bólem.
    .panel.panel-default
      #heading4.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse4', aria-expanded='false', aria-controls='collapse4')
            span._accordion-icon
              i.fa.fa-plus
            | Czy każdy użytkownik BrainPortu  może liczyć na dobry efekt?
      #collapse4.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading4')
        .panel-body
          p Niektórzy użytkownicy za pomocą cierpliwego treningu dochodzą do zdumiewających efektów w orientacji przestrzennej i rozpoznawaniu obrazów.
          p
            | Wąska grupa raportuje nawet, że doznaje fenomenu „wizualizacji” w czasie korzystania z urządzenia. Inni, mimo początkowych sukcesów zniechęcają się pozostając na poziomie podstawowych umiejętności i rezygnują z użytkowania BrainPortu. Najlepsze rokowanie co do sukcesu według dotychczasowych doświadczeń mają osoby niewidome, które przeszły klasyczne szkolenie i program rehabilitacyjny dla ociemniałych oraz są zmotywowane do szkolenia i treningu. Pomocne jest też doświadczenie i sprawność w posługiwaniu się urządzeniami elektronicznymi, obycie z komputerem i korzystanie z internetu.
    .panel.panel-default
      #heading5.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse5', aria-expanded='false', aria-controls='collapse5')
            span._accordion-icon
              i.fa.fa-plus
            | Czy każdy może zostać użytkownikiem BrainPortu?
      #collapse5.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading5')
        .panel-body
          p
            | NIE. Osoby z implantami medycznymi (np. stymulatory serca, implanty
            | ślimakowe itp.) powinny skonsultować użycie BrainPortu ze swoim lekarzem
            | prowadzącym. Osoby ze schorzeniami w obrębie jamy ustnej, urazami języka i
            | problemami w zakresie stawów skroniowo-żuchwowych mogą mieć problemy
            | z użytkowaniem BrainPortu.
