mixin address(fontawesome, title, description, email)
    .media._address__element
        .media-left
            if fontawesome == undefined
                i.fa.fa-pencil
            i(class="fa " + fontawesome)
        .media-body
            if title == undefined
                h5._address__title Demo title
            h5._address__title=title
            if description == undefined
                span._address__description Demo description. Put here some text
            if email == true
                a(href="mailto:" + description)
                    span._address__description=description
            else
                span._address__description=description