//- TODO //
mixin blogPost(image, title, date, category, description, ...tags)
  article.ct-article.ct-fw-600(itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting")&attributes(attributes)
    .ct-article__media
      a(href="blog-post" itemprop="url")
        img(src=""+imgcontent+""+image+".jpg" alt=""+title+"" itemprop="image")
    .ct-article__title
      a(href="blog-single.html" itemprop="url")
          h5.text-uppercase.ct-u-colorMotive.ct-fw-700 #{title}
    ul.ct-article__meta.list-unstyled.list-inline
      li.ct-article__date(itemprop="dateCreated")
        i.fa.fa-calendar
        | #{date}
      li.ct-article__category
        a(href="#" itemprop="url")
          i.fa.fa-folder
          | #{category}
      li.ct-article__tags
        ul.list-unstyled.list-inline.text-uppercase
          each tag in tags
            li
              a(href="#" itemprop="url")= tag
    .ct-article__description(itemprop="text")
        p= description
        a(href="#" itemprop="url").btn.btn-primary.btn-xs.text-uppercase read article
