mixin btn(style, size, href)
  - var style = (typeof style === 'undefined') ? "default" : style
  case size
      when "lg"
          - size = "btn-lg"
      when "sm"
          - size = "btn-sm"
      when "xs"
          - size = "btn-xs"
  a( class=["btn", "btn-" + style, size], href=""+check_href(href)+"" )&attributes(attributes)
      block

mixin button(style, size, type)
  - var style = (typeof style === 'undefined') ? "default" : style
  case size
      when "lg"
          - size = "btn-lg"
      when "sm"
          - size = "btn-sm"
      when "xs"
          - size = "btn-xs"
  button( class=["btn", "btn-" + style, size] type=type )&attributes(attributes)
    block

mixin button_scroll_up(icon)
  if icon == undefined
    - var icon = 'fa-chevron-up'
  button.ct-btn--scrollUp(data-scroll="up")&attributes(attributes): span: i.fa(class= icon)
