mixin input(placeholder, id, type, req, button)
  if type == undefined
    - var type = 'text'
  .form-group&attributes(attributes)
    if req === 'false'
      input(type=type placeholder=placeholder id=id)
    if button === 'true'
      label.sr-only(for=id)= placeholder
      input(type=type placeholder=placeholder id=id required).form-control
      button(type="submit")
        i.fa.fa-search
    else
      label.sr-only(for=id)= placeholder
      input(type=type placeholder=placeholder id=id required).form-control

mixin textarea(placeholder, id, rows, req)
  if rows == undefined
    - var rows = 6
  .form-group&attributes(attributes)
    if req === 'false'
      textarea(placeholder=placeholder id=id rows=rows)
    else
      label.sr-only(for=id)= placeholder
      textarea(placeholder=placeholder id=id rows=rows required).form-control

mixin newsletter(placeholder, id, button)
  form.ct-newsletter.form-group.from-inline&attributes(attributes)
    input(type=email id=id placeholder=placeholder required)
    label.sr-only(for=id)= placeholder
    button.btn.btn-accent(type="submit")= button
