mixin li(item, href)
  li&attributes(attributes)
    if href == 'span'
      span= item
        block
    else
      a(href= check_href(href))= item
        block

mixin socials(...items)
  ul.ct-socials.list-inline.list-unstyled&attributes(attributes)
    each val in items
      if val == 'facebook'
        - var href = 'https://www.facebook.com/createITpl'
      else if val == 'twitter'
        - var href = 'https://twitter.com/createitpl'
      else
        -var href = '#'
      li(class="ct-socials__item" + val): a(href=href): i.fa(class='fa-' + val)
