mixin dropdown(name, href)
  li.dropdown(role="presentation")&attributes(attributes)
    a.dropdown-toggle(data-toggle="dropdown" href=check_href(href) role="button" aria-haspopup="true" aria-expanded="false")
      | #{name}
      span.caret
    block
