mixin panel(type, heading, footer)
  case type
    when 'default'
      - type = 'panel-default'
    when 'primary'
      - type = 'panel-primary'
    when 'success'
      - type = 'panel-success'
    when 'info'
      - type = 'panel-info'
    when 'warning'
      - type = 'panel-warning'
    when 'danger'
      - type = 'panel-danger'
  .panel(class=type)&attributes(attributes)
    if heading !== undefined
      .panel-heading
        h3.panel-title= heading
    .panel-body
      block
    if footer !== undefined
      .panel-footer= footer
