mixin responsive-embed(src, type, size)
  case size
    when '16by9'
      - size = 'embed-responsive-16by9'
    when '4by3'
      - size = 'embed-repsonsive-4by3'
    when undefined
      - size = 'embed-responsive-16by9'
  if type === undefined
    - type = 'iframe'
  .embed-responsive(class=size)&attributes(attributes)
    #{type}(class="embed-responsive-item" src=src)
