//-
//- Widgets
//- --------------------------------------------------

  
//-== Widget  s
//-
//-##

mixin widget_tags(title, ...tags)
  ._widget.widget_tag_cloud
    ._widget-inner
      h4._widget__title= title
      .tagcloud
        for tag, index in tags
          a(href="#" class="tag-link tag-link-" + index)= tag

  
//-== Widget Nav Menu
//-
//-##

mixin widget_nav_menu(title, ...items)
  .widget.widget_nav_menu
    .widget-inner
      h4.widget-title= title
      ul.menu#menu-long-menu
        for item in items
          li(class="menu-" + item): a(href="#")= item

    
    
//-== Widget Archive
//-
//-##

mixin widget_archive(title, ...items)
  .widget.widget_archive
    .widget-inner
      h4.widget-title= title
      ul
        for item in items
          +li(item)


  
//-== Widget Pages
//-
//-##

mixin widget_pages(title, ...items)
  .widget.widget_pages
    .widget-inner
      h4.widget-title= title
      ul
        for item in items
          +li(item).page-item
          

  
//-== Widget Recent Comments
//-
//-##

mixin widget_recent_comments(title)
  .widget.widget_pages
    .widget-inner
      h4.widget-title= title
      ul#recentcomments
        li.recentcomments
          span.comment-author-link admin
          |  on   
          a(href="#") Title With Markup
        li.recentcomments
          span.comment-author-link admin
          |  on   
          a(href="#") Title With Markup
        li.recentcomments
          span.comment-author-link: a(href="#") Chris Ames
          |  on   
          a(href="#") Page Comments
        li.recentcomments
          span.comment-author-link: a(href="#") Mr Website
          |  on   
          a(href="#") Random Comment
        li.recentcomments
          span.comment-author-link: a(href="#") Jared Erickson
          |  on   
          a(href="#") Super/Duper/Long/NonBreaking/Path/Name/To/A/File/That/Is/Way/Deep/Down/In/Some/Mysterious/Remote/Desolate/Part/Of/The/Operating/System/To/A/File/That/Just/So/Happens/To/Be/Strangely/Named/Supercalifragilisticexpialidocious.txt

  
//-== Widget Meta
//-
//-##

mixin widget_meta(title)
  .widget.widget_meta
    .widget-inner
      h4.widget-title= title
      ul
        +li('Log In')
        +li('Entries ')
          abbr(title="Really Simple Syndication") RSS
        +li('Comments ')
          abbr(title="Really Simple Syndication") RSS
        +li('Webpage.org')


  
  
  

  
//-== Widget Calendar
//-
//-##

mixin widget_calendar(title, caption)
  .widget.widget_calendar
    .widget-inner
      h4.widget-title= title
      #calendar_wrap
      table#wp-calendar
        caption= caption
        thead
          tr
            th(scope="col" title="Monday") M
            th(scope="col" title="Tuesday") T
            th(scope="col" title="Wednesday") W
            th(scope="col" title="Thursday") T
            th(scope="col" title="Friday") F
            th(scope="col" title="Saturday") S
            th(scope="col" title="Sunday") S
        tbody
          tr
            td(colspan="1" clas="pad") &nbsp;
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
          tr
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
          tr
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
          tr
            td 21
            td 22
            td 23
            td 24
            td 25
            td 26
            td 27
          tr
            td 28
            td 29
            td 30
        tfoot
          tr
            td#prev(colspan="3")
              a(href="#") « May
            td.pad &nbsp;
            td.pad#next(colspan="3") &nbsp;

  
//-== Widget RSS
//-
//-##

mixin widget_rss(title)
  .widget.widget_rss
    .widget-inner
      h4.widget-title
        a.rsswidget(href="#"): img(src="http://lorempixel.com/14/14" alt="Lorem Pixel")
        a.rsswidget(href="#")= title
      ul
        li: a.rsswidget(href="#") Publication
          span.rss-date September 2, 2015
          .rssSummary When Automattic’s Thomas Guillot was designing Publication, he aimed to incorporate two sidebars in an original way, while putting emphasis on … Continue reading →
          cite Kathryn P.
        li: a.rsswidget(href="#") Announcing Apostrophe
          span.rss-date August 25, 2015
          .rssSummary A classic magazine-style theme, Apostrophe is now available for self-hosted sites. An update of Konstantin Kovshenin‘s Semicolon, crafted by Automattic’s … Continue reading →
          cite Kathryn P.
        li: a.rsswidget(href="#") Let Your Restaurant Shine With Confit
          span.rss-date August 10, 2015
          .rssSummary We are proud to bring Confit, an elegant free theme geared to restaurants, cafés, and bars, to WordPress.org. Confit lets … Continue reading →
          cite Kathryn P.




//- Widget search
mixin widget_search(placeholder)
  ._widget._widget_search
    form(action="")
      ._widget__inner
        .form-group
          label(for="widget-search").sr-only Search post's
          input(type="text" id="widget-search" placeholder="" + placeholder required).form-control
          button(type="submit")
            i.fa.fa-search

//- Widget categories
mixin widget_categories(title)
  ._widget._widget_categories
    ._widget__inner
      h4._widget__title= title
      ul.list-unstyled
        block inner
mixin widget_category_inner(cat_name, cat_number)
  li
    i.fa.fa-chevron-left
    a(href="#")=cat_name
      span.pull-right=cat_number

//- Recent posts
mixin widget_recent_posts(title)
  ._widget._widget_recentPosts
    ._widget__inner
      h4._widget__title=title
      block innerPosts
mixin widget_recent_posts_inner(img, date, dateTime, txt)
  .media
    .media-left
      a(href="#"): img(src="" + img, alt)
    .media-body
      ._date
        i.fa.fa-calendar
        time(datetime="" + dateTime)=date
      p: a(href="#")=txt
//-Widget simple text
mixin widget_text(title)
  ._widget._widget_text
    .widget-inner
      h4._widget__title= title
      .textwidget
        p Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum


// Blog single standard

mixin blogPost_standard(src, day, month, dateTime, title, authorname, description, readArticle)
  article._featuredPost._featuredPost--standard(itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting")
    ._featuredPost__media
      img(itemprop="image" src="" + src)
      ._featuredPost__comment
        time(datetime="" + dateTime).featuredPost__commentDate=day
          span=month
    h3._featuredPost__title: a(href="#" itemprop="url")=title
    ul._featuredPost__meta.list-unstyled.list-inline
      li._metaAuthor
        i.fa.fa-user
        a(href="#" itemprop="url"): span(itemprop="author")=authorname
      li._metaCategories
        i.fa.fa-tag
        block metaCategories
    p._featuredPost__description(itemprop="text")=description
    a(href="#" itemprop="url").btn._featuredPost__readMore=readArticle

mixin blogPost_standard--categories(...items)
  each item in items
    a(href="#" itemprop="url"): span(itemprop="keywords")=item
