mixin pageHeader(background, title, crumb)
    header._pageHeader.ct-u-display-tablex(data-background="" + background,   data-height="300")
        .inner
            .container
                .row
                    .col-sm-12
                        h2._pageHeader__title=title
                        ol.breadcrumb
                            li: a(href="/") Home page
                            li.active=title
