//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-4.jpg',
    '404'
    )
    section.ct-u-padding-top-50.ct-u-padding-bottom-70
        .container
            .row
                .col-sm-12
                    ._error404
                        h5._error404__number 404
                        h6._error404__title Oops, page not found!
                        span._error404__titleDuplicated Oops, page not found!
                        form(action="#")._contactForm._contactForm--type3.ct-u-margin-top-50.text-center
                            +input('Search typing...', 'Search typing', 'text', 'true', 'true')
                        span._blockElement.ct-u-margin-both-15 or
                        a(href="/").btn.btn-motive Back to home page
    ._promoBox._promoBox__type2
        .container-fluid
            .row
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-paper-plane
                        ._iconBox__content
                            h3._iconBox__title About our
                            h4._iconBox__subtitle Company
                            p._iconBox__description Know more about our company
                            a(href="#").btn.btn--whiteBorder About page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-pencil
                        ._iconBox__content
                            h3._iconBox__title Our blog
                            h4._iconBox__subtitle Posts
                            p._iconBox__description Check out our recent news and events
                            a(href="#").btn.btn--whiteBorder Blog page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-photo
                        ._iconBox__content
                            h3._iconBox__title Gallery
                            h4._iconBox__subtitle Folio
                            p._iconBox__description Check our portfolio and photos
                            a(href="#").btn.btn--whiteBorder Gallery page
                                i.fa.fa-angle-double-right
