//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-2.jpg',
    'About 1'
    )
    section.ct-u-padding-top-80.ct-u-padding-bottom-85
        .container
            .row
                .col-md-6
                    header._boxHeader
                        h2._boxHeader__title Create#[span._color--motive &]build
                            sup._boxHeader__subtitle Welcome to
                    p.lead At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.
                    p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum:
                    ul.list-unstyled._list--projectsInfo._list--bigger.ct-u-padding-both-40
                        li #[i.fa.fa-chevron-right] Stet clita kasd gubergren nosea takimata
                        li #[i.fa.fa-chevron-right] Lorem ipsum dolor sit amet consetetur sadipscing
                        li #[i.fa.fa-chevron-right] At accusam aliquyam diam diam
                .col-md-6
                    .ct-slick.ct-js-slick._slick-arrow--type2._slick--fullWidthImage(data-items="1" data-draggable="false")
                        .item
                            img(src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg")
                        .item
                            img(src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg")
    section._bg-overlay._overlay--2.ct-u-padding-both-80(data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax1.jpg")
        .container
            .row
                .col-sm-12
                    ._sectionHeader._sectionHeader__big.text-center.animated.ct-u-margin-bottom-40(data-fx="fadeIn")
                        h2._sectionHeader__title Our reputation
                        h3._sectionHeader__subtitle  Is solid as concrete!
                .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
                    .ct-slick.ct-js-slick._slick-arrow--type2._slick--fullWidthImage(data-items="1" data-draggable="false")
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner

    section
        .container-fluid
            .row
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/1.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Research#[span.ct-u-color--white &]innovate
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/2.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Design#[span.ct-u-color--white &]build
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/3.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Experience#[span.ct-u-color--white &]creativity
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
    section.ct-u-padding-both-100._bg-overlay._overlay--3(data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax4.jpg")
        .container
            .row
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Why Choose Us
                    +accordion
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Services
                    p.lead At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sitamet ipsum dolor:
                    ul.list-unstyled._list--projectsInfo._list--grayMode.ct-u-margin-top-30
                        li #[i.fa.fa-chevron-right] Consetetur sadipscing elitr
                        li #[i.fa.fa-chevron-right] Sed diam nonumy eirmod tempor
                        li #[i.fa.fa-chevron-right] Invidunt ut labore
                        li #[i.fa.fa-chevron-right] Dolore magna aliquyam
                        li #[i.fa.fa-chevron-right] At vero eos et accusam justo
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Advantages