//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-4.jpg',
    'Blog - left sidebar'
    )
    section.ct-u-padding-both-80
        .container
            .row
                .col-md-8.col-sm-12.ct-u-padding-left-50.ct-u-padding-left-15-sm.col-md-push-4
                    +blogPost_standard(
                    'http://rollthemes.com/demo/html/create-build/images/blog/b1.jpg',
                    '27',
                    'May',
                    '2015-04-27',
                    'Post with large image',
                    'Admin',
                    'Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                    'Read Article'
                    )
                        block metaCategories
                            +blogPost_standard--categories('Renovation', 'Services', 'Tip & Trick')
                .col-md-4.col-sm-12.col-md-pull-8
                    aside._blogPost_sidebar
                        +widget_search('Search posts ...')
                        +widget_categories('Categories')
                            block inner
                                +widget_category_inner('Construction', '(23)')
                                +widget_category_inner('Design', '(32)')
                                +widget_category_inner('Industry', '(17)')
                                +widget_category_inner('Tip & Trick', '(9)')
                                +widget_category_inner('Renovation', '(25)')
                                +widget_category_inner('Uncategorized', '(4)')
                        +widget_tags('Tags', 'Design', 'Construction', 'Industry', 'Uncategorized', 'Renovation', 'Tip & Trick', 'Services', 'Shortcodes')
                        +widget_text('Simple text')
                        +widget_recent_posts('Recent posts')
                            block innerPosts
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s1.jpg', "05 Apr' 15", '2015-04-05', 'At vero eos et accusam et justo duo dolores et ea rebum.')
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s3.jpg', "05 Dec' 15", '2015-05-12', 'At vero eos et accusam et justo duo dolores et ea rebum.')
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s2.jpg', "01 Jan' 16", '2015-01-16', 'At vero eos et accusam et justo duo dolores et ea rebum.')
    include includes/promo-box--type2