//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-3.jpg',
    'Contact'
    )
    .container.ct-u-padding-both-100
        .row
            .col-sm-12
                .ct-googleMap(data-location="Warszawa, Augustyna Kordeckiego 49/31" data-height="450" data-zoom="15")
    .section
        .container
            .row
                .col-sm-7.ct-u-margin-bottom-80
                    header._boxHeader
                        h2._boxHeader__title Form
                            sup._boxHeader__subtitle Contact
                    form(action="#")._contactForm._contactForm--type2
                        +input('Full name', 'full-name', 'text', true)
                        +input('Phone', 'phone', 'tel', true)
                        +input('Email address', 'email-address', 'email', true)
                        +input('Subject', 'subject', 'text', true)
                        +textarea('Message', 'message', 6, false)
                        button(type="submit").btn.btn-lg.btn-motive Send message
                .col-sm-5.ct-u-padding-left-100
                    header._boxHeader
                        h2._boxHeader__title Detail
                            sup._boxHeader__subtitle Contact
                    address._address._address--type2
                        +address('fa-pencil', 'Postal address', 'PO Box 97845 Baker st. 567, Los Angeles, California, United States')
                        +address('fa-phone', 'Phone', '8 (800) 659-2689')
                        +address('fa-fax', 'Fax', '8 (800) 659-2676')
                        +address('fa-envelope', 'Email', 'williamjackson@construct.com', true)
    ._promoBox._promoBox__type2
        .container-fluid
            .row
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-paper-plane
                        ._iconBox__content
                            h3._iconBox__title About our
                            h4._iconBox__subtitle Company
                            p._iconBox__description Know more about our company
                            a(href="#").btn.btn--whiteBorder About page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-pencil
                        ._iconBox__content
                            h3._iconBox__title Our blog
                            h4._iconBox__subtitle Posts
                            p._iconBox__description Check out our recent news and events
                            a(href="#").btn.btn--whiteBorder Blog page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-photo
                        ._iconBox__content
                            h3._iconBox__title Gallery
                            h4._iconBox__subtitle Folio
                            p._iconBox__description Check our portfolio and photos
                            a(href="#").btn.btn--whiteBorder Gallery page
                                i.fa.fa-angle-double-right
block plugins
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src="" + path_js + 'plugins/gmaps/gmap3.min.js')
    script(src="" + path_js + 'plugins/gmaps/init.js')