//- Document Head //
extends config/base
block page_content
    main
        .ct-js-slick.ct-slick.ct-slick--table._slick-arrow--type1._slick-dots--type1(data-items="1", data-height="650", data-dots="true")
            .item(data-background="http://vowthemes.com/demo/html/construction/images/slider/slide1.png")
                .item-inner.text-center
                    .container
                        .row
                            .col-sm-12
                                ._sliderHeader--primary
                                    h2._sliderHeader__title.textRotator(data-time="5000") We are #[strong.textRotator__inner Construction] Company
                                    ._sliderHeader__box
                                        h3._sliderHeader__box__text from small #[span._text__bg._text__bg--gray houses] to big #[span._text__bg._text__bg--motive buildings]
                                    ul._sliderHeader__icons.list-unstyled.list-inline
                                        li._sliderHeader__icon.animated
                                            i.fa.fa-anchor
                                        li._sliderHeader__icon.animated
                                            i.fa.fa-calendar
                                        li._sliderHeader__icon.animated
                                            i.fa.fa-suitcase

            .item(data-background="http://vowthemes.com/demo/html/construction/images/slider/slide2.png")
                .item-inner
                    .container
                        .row
                            .col-sm-7
                                ._sliderHeader
                                    h2._sliderHeader__title #[strong Systemy] automatyki i sterowania
                                    h3._sliderHeader__subtitle Produkcja #[strong energii] elektrycznej
                                    p._sliderHeader__description  Systemy automatyki przemysłowej mają spełniać kilka różnych zadań. Zalicza się do nich ochrona pracownika, procesu produkcji, infrastruktury i materiałów. W różnych cyklach produkcyjnych wykorzystuje się wiele substancji, które potencjalnie mogą stanowić zagrożenie.
                                    a(href="#").btn.btn-motive._margin-top-50 Czytaj więcej
                            .col-sm-5
                                img(src="" + path_content + "construction_tools.png").animated.hidden-xs(data-fx="fadeInRight", data-time="100")

        section._padding-both-80
            .container
                .row
                    .col-sm-10.col-sm-offset-1
                        ._sectionHeader.text-center
                            h2._sectionHeader__title: span About #[span._color--motive Construction] company
                            h3._sectionHeader__subtitle W ciągu zaledwie kilku dekad #[span._color--motive Ineea przekształciła się] z niewielkiej regionalnej firmy w przedsiębiorstwo o ugruntowanej pozycji rynkowej w skali kraju.
                .row
                    .col-sm-6._padding-top-30
                        +iconBoxT1(
                        'laptop',
                        'Architecture Plans',
                        'This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.'
                        )
                        +iconBoxT1(
                        'film',
                        'Construction Designs',
                        'This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.'
                        )
                    .col-sm-6._padding-top-30
                        +iconBoxT1(
                        'clock-o',
                        'Fast Building',
                        'This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.'
                        )
                        +iconBoxT1(
                        'building-o',
                        'House Rebuilding',
                        'This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.'
                        )
        section.ct-mediaSection._margin-bottom-80(data-type="video" data-height="550" data-parallax="90")
            ._btn-video
                button._btn-play Play
                button._btn-pause Pause
            .ct-mediaSection-video.embed-responsive.embed-responsive-16by9
                iframe(src="https://player.vimeo.com/video/143889768?title=0&byline=0&portrait=0")#player1
        section._padding-bottom-80
            .container
                .row
                    .col-sm-10.col-sm-offset-1
                        ._sectionHeader.text-center
                            h2._sectionHeader__title: span Zrealizowane projekty
                            h3._sectionHeader__subtitle  Zapoznaj się z Naszymi #[span._color--motive wybranymi realizacjami.]
                .row
                    .col-sm-12
                        ul.list-unstyled.list-inline._gallery-filters
                            li(data-filter="*").active #[i.fa.fa-th] Pokaż wszystkie
                            li(data-filter=".hospitals") Automatyka typ1
                            li(data-filter=".schools") Automatyka typ2
                            li(data-filter=".forest") Automatyka type3
                            li(data-filter="*") Automatyka type4
            ._gallery._gallery--col3._js-lightGallery
                figure._gallery-item.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project1.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project1.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
                figure._gallery-item.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project2.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project2.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
                figure._gallery-item.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project3.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project3.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
                figure._gallery-item.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project4.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project4.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
                figure._gallery-item.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project5.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project5.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
                figure._gallery-item.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project6.png")
                    img(src="http://vowthemes.com/demo/html/construction/images/projects/project6.png" alt="Gallery image")
                    figcaption._gallery-item__details
                        h5._gallery-item__title Central Hospital
                            span building
                        ._gallery-item__icons
                            a(href="#"): i.fa.fa-search
        section._padding-bottom-80
            .container
                .row
                    .col-sm-10.col-sm-offset-1
                        ._sectionHeader.text-center
                            h2._sectionHeader__title: span W trakcie ...
                            h3._sectionHeader__subtitle  Pracujemy obecnie nad tymi #[span._color--motive obiektami.]
                .row
                    .col-sm-4
                        article._articleBox._margin-top-40
                            header._articleBox__header.media
                                .media-left
                                    span._articleBox__icon
                                        i.fa.fa-calendar
                                .media-body
                                    span._articleBox__date 18 November 2014, 11:50 AM
                            ._articleBox__content
                                a(href="")._articleBox__image
                                    img(src="http://vowthemes.com/demo/html/construction/images/blog/blog1.png" alt="")
                                ._articleBox__description
                                    ._inner
                                        h4._articleBox__title
                                            a(href="#") Faceted Search Has Landed
                                        p This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.
                                        a(href="#")._link._link--motive read more
                    .col-sm-4
                        article._articleBox._margin-top-40
                            header._articleBox__header.media
                                .media-left
                                    span._articleBox__icon
                                        i.fa.fa-calendar
                                .media-body
                                    span._articleBox__date 22 November 2014, 11:50 AM
                            ._articleBox__content
                                a(href="")._articleBox__image
                                    img(src="http://vowthemes.com/demo/html/construction/images/blog/blog2.png" alt="")
                                ._articleBox__description
                                    ._inner
                                        h4._articleBox__title
                                            a(href="#") Faceted Search Has Landed
                                        p This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.
                                        a(href="#")._link._link--motive read more
                    .col-sm-4
                        article._articleBox._margin-top-40
                            header._articleBox__header.media
                                .media-left
                                    span._articleBox__icon
                                        i.fa.fa-calendar
                                .media-body
                                    span._articleBox__date 24 November 2014, 11:50 AM
                            ._articleBox__content
                                a(href="")._articleBox__image
                                    img(src="http://vowthemes.com/demo/html/construction/images/blog/blog3.png" alt="")
                                ._articleBox__description
                                    ._inner
                                        h4._articleBox__title
                                            a(href="#") Faceted Search Has Landed
                                        p This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.

                                        a(href="#")._link._link--motive read more
        ._sectionDivider._sectionDivider--motive.text-center
            .container
                .row
                    .col-sm-2.col-sm-offset-1
                        img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/logo1.png").animated(data-fx="fadeIn")
                    .col-sm-2
                        img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/logo2.png").animated(data-fx="fadeIn" data-time="300")
                    .col-sm-2
                        img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/logo3.png").animated(data-fx="fadeIn" data-time="500")
                    .col-sm-2
                        img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/logo4.png").animated(data-fx="fadeIn" data-time="700")
                    .col-sm-2
                        img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/logo5.png").animated(data-fx="fadeIn" data-time="900")
        section._bg-overlay._overlay--1._padding-both-80(data-type="parallax" data-parallax="90" data-height="600" data-background="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/parallax-banner-3.jpg")
            .container
                .row
                    .col-md-8.col-md-offset-2.col-sm-12
                        ._sectionHeader._sectionHeader__white.text-center.animated(data-fx="fadeIn")
                            h2._sectionHeader__title Our service
                            h3._sectionHeader__subtitle Our #[span._color--motive quality standards] apply also in terms of service, technical expertise and advice. Our dedicated employees are happy to assist you with know-how and experience in your daily business.
            .container
                .row
                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-clock-o
                            ._iconBox__content.media-body
                                h4._iconBox__title Consulting
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-cloud-download
                            ._iconBox__content.media-body
                                h4._iconBox__title Systems Integration
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.

                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-bullhorn
                            ._iconBox__content.media-body
                                h4._iconBox__title Support
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                    .clearfix.visible-md.visible-lg
                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-clock-o
                            ._iconBox__content.media-body
                                h4._iconBox__title Consulting
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-cloud-download
                            ._iconBox__content.media-body
                                h4._iconBox__title System Integration
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                    .col-sm-6.col-md-4
                        ._iconBox._iconBox--transparent.media._padding-top-40
                            ._iconBox__icon.media-left
                                .inner: i.fa.fa-bullhorn
                            ._iconBox__content.media-body
                                h4._iconBox__title Support
                                p._iconBox__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
        section._padding-both-80
            .container
                .row
                    .col-sm-10.col-sm-offset-1
                        ._sectionHeader.text-center
                            h2._sectionHeader__title: span HAPPY CLIENTS
                            h3._sectionHeader__subtitle  Over #[span._color--motive 10.500] extremely satisfied clients!
            .container._padding-top-60
                .row
                    .col-sm-8.col-sm-offset-2
                        .ct-slick.ct-js-slick._slick-arrow--type2(data-items="1" data-fade="true" data-draggable="false")
                            .item.text-center
                                figure._testimonial
                                    img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/member1.jpg")
                                    figcaption
                                        .h6._testimonial__quote Five stars for this theme. Awesome design and great, quick support.
                                        span._testimonial__name Jax Teller via Twitter
                            .item.text-center
                                figure._testimonial
                                    img(src="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/member6.jpg")
                                    figcaption
                                        .h6._testimonial__quote Just a huge thanks to the United Themes team for being so helpful in their forums
                                        span._testimonial__name TARA KNOWLES-TELLER VIA TWITTER

        section._padding-both-80._bg-overlay._overlay--1(data-parallax="90" data-height="450" data-background="http://themeforest.unitedthemes.com/themes/brooklyn/yellow/images/parallax-banner-5.jpg")
            .container
                .row
                    .col-sm-12
                        ._sectionHeader._sectionHeader__white.text-center.animated(data-fx="fadeIn")
                            h2._sectionHeader__title Skontaktuj się z Nami
                            h3._sectionHeader__subtitle  Jeśli masz jakieś pytania, #[span._color--motive nie wahaj się] ani chwili tylko pisz do nas!
                .row.animated(data-fx="fadeIn")
                    .col-sm-5._margin-top-50
                        address._address
                            h4._address__title Nasz adres
                            ul.list-unstyled
                               li.media
                                  .media-left
                                      i.fa.fa-home
                                  .media-body
                                      | 100 Biscayne Blvd. (North) 21st Floor
                                      br
                                      | New World Tower Miami,
                                      br
                                      | Florida 33148
                               li.media
                                  .media-left
                                      i.fa.fa-phone
                                  .media-body
                                      | (305) 555-4446
                               li.media
                                  .media-left
                                      i.fa.fa-envelope
                                  .media-body
                                      a(href="mailto:wielicki-it@it.pl")._link wielicki-it@it.pl
                               li.media
                                  .media-left
                                      i.fa.fa-globe
                                  .media-body
                                      a(href="http://www.google.com")._link www.wielicki-it.pl
                    .col-lg-6.col-lg-offset-1.col-sm-7.col-md-offset-0._margin-top-50
                        form(action="#")._contactForm._contactForm--box
                            .row
                                .col-sm-12
                                    h4._boxHeader._color--motive._padding-bottom-15 Skontakuj się z Nami
                                .col-sm-6
                                    .form-group
                                        input(type="text" id="c-name" required).form-control
                                        label(for="c-name") Type name:
                                    .form-group
                                        input(type="email" id="c-email" required).form-control
                                        label(for="c-email") Type email:
                                    .form-group
                                        input(type="phone" id="c-phone" required).form-control
                                        label(for="c-phone") Type phone:
                                .col-sm-6
                                    .form-group
                                        textarea.form-control(id="c-message")
                                        label(for="c-message") Type message:
                            .row
                                .col-sm-12
                                    button(type="submit").btn.btn-sm.btn-motive Send it



