//- Document Head //
extends config/base
block page_content
    +pageHeader(
    'http://vowthemes.com/demo/html/construction/images/projects/cover.png',
    'Projects 1'
    )
    section
        .container
            .row
                .col-sm-12
                    ul.list-unstyled.list-inline._gallery-filters._gallery-filter--type2
                        li(data-filter="*").active #[i.fa.fa-th] Pokaż wszystkie
                        li(data-filter=".hospitals") Automatyka typ1
                        li(data-filter=".schools") Automatyka typ2
                        li(data-filter=".forest") Automatyka type3
                        li(data-filter="*") Automatyka type4
        ._gallery._gallery--col3._js-lightGallery
            figure._gallery-item._gallery-item--expand.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project1.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project1.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project2.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project2.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project3.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project3.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project4.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project4.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project5.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project5.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project6.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project6.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
    ._sectionDivider._sectionDivider--motive.text-center._padding-both-60
        .container
            .row
                .col-sm-12
                    a(href="#")._link__dropUs Drop us a line