._blogPost_sidebar{
  ._widget + ._widget {
    margin-top: 55px;
  }
}

._widget{

  ._widget__title {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    @include font-size(3.2);
  }

  // widget search
  &._widget_search{
    .form-group{
      position: relative;
      .form-control{
        padding: 35px 10px;
        font-style: italic;
        font-weight: 600;
        @include mix-rounded(0);
        @include font-size(2.4);
        @include box-shadow(none);
      }
      button[type="submit"]{
        position: absolute;
        border: 0 none;
        background: none;
        top: 15px;
        right: 15px;
        @include font-size(2.5);
      }
    }
  }

  // widget categories
  &._widget_categories {
    ul {
      margin-top: 30px;
      li {
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0 10px 28px;
        &:first-child {
          border-top: 1px solid #e5e5e5;
        }
        i{
          position: absolute;
          left: 0;
          top: 50%;
          @include transform(translateY(-45%));
          @include font-size(1.0);
        }
        a {
          @include font-size(2);
          span{
            @include font-size(1.0);
          }
        }
      }
    }
  }

  // widget tagCloud

  &.widget_tag_cloud {
    .tagcloud{
      margin-top: 30px;
      margin-left: -5px;
      .tag-link {
        float: left;
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid #e5e5e5;
        text-transform: capitalize;
        font-weight: 600;
        @include backvisibility();
        &:active{
          @include transform(scale(.97));
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }

  // widget simple text

  &._widget_text{
    .textwidget{
      margin-top: 30px;
    }
  }

  // widget recent posts

  &._widget_recentPosts {
    .media {
      &:first-of-type{
        margin-top: 40px;
      }
      .media-left {
        padding-right: 25px;
        img {
          max-width: none;
          @include t-all();
          &:hover, &:active, &:focus {
            @include opacity(.7);
          }
        }
      }
      .media-body {
        ._date {
          @include font-size(2.0);
          time{
            padding-left: 5px;
          }
        }
        p {
          padding-top: 10px;
        }
      }
      + .media {
        padding-top: 20px;
        border-top: 1px solid #e5e5e5;
      }
    }
  }

}


// Blog featured posts [variations: standard, small]


._featuredPost {
  &._featuredPost--standard {
    ._featuredPost__media {
      position: relative;
      ._featuredPost__comment {
        position: absolute;
        top: 15px;
        left: 15px;
        text-align: center;
        .featuredPost__commentDate {
          color: #fff;
          font-weight: 700;
          line-height: 1;
          padding-top: 10px;
          display: block;
          @include font-size(2.4);
          span {
            display: block;
            font-weight: 300;
            text-transform: uppercase;
            background-color: #3A3A3A;
            padding: 5px 15px;
            margin-top: 10px;
            @include font-size(1.4);
          }
        }
      }
    }
    ._featuredPost__title {
      padding: 15px 0 10px 0;
      font-weight: 700;
      @include font-size(5.0);
    }
    ._featuredPost__meta {
      li {
        @include font-size(2.0);
        padding-right: 25px;
      }
      ._metaAuthor, ._metaCategories {
        i {
          padding-right: 10px;
        }
      }
      ._metaCategories {
        a {
          display: inline-block;
          padding-right: 5px;
          &:after{
            content: ',';
          }
          &:last-child{
            &:after{
              content: '';
            }
          }
        }
      }
    }
  }
}