// Buttons // ----------------------------------------------------------------------------------------------------------

.btn{
  padding: 15px 20px 16px 20px;
  border: 0;
  font-weight: 700;
  letter-spacing: 1px;
  @include mix-rounded(0);
  @include font-size(1.4);
  @include backvisibility();
  &.btn-motive{
    color: #fff;
    &:hover, &:focus{
      @include mixRGBA(bg,0,0,0,.6);
    }
    &:active{
      @include transform(translateY(5px));
    }
  }
  &.btn--whiteBorder{
    border: 2px solid #fff;
    color: #fff;
    i{
      padding-left: 5px;
      position: relative;
      @include t-all;
    }
    &:hover, &:focus{
      background-color: #323232;
      border-color: #323232;
      i{
        left: 5px;
      }
    }
    &:active{
      @include box-shadow(0 0 1px 1px #323232);
    }
    &.btn-hover--type2{
      &:hover{
        border-color: $motive;
      }
    }
  }
}
.btn{
  text-transform: uppercase;
  &.btn-sm{
    padding: 10px 15px;
    @include font-size(1);
  }
  &.btn-lg{
    padding: 20px 30px;
    @include font-size(1.8);
  }
}
