._pageHeader{
  text-align: center;
  ._pageHeader__title{
    color: #FFF;
    padding: 0 27px;
    min-width: 138px;
    line-height: 65px;
    border: 1px solid #f7b71e;
    margin: 0 auto;
    display: inline-block;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    background: rgba(0, 0, 0, 0.2);
  }
  .breadcrumb{
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 0;
    li{
      font-weight: 600;
      color: #fff;
    }
  }
}


._portfolio_extend_wrapper{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:999;
  text-align: center;
  @include mixRGBA(bg, 255, 255, 255, .9);
  ._portfolio_extend__inner{
    display: table-cell;
    vertical-align: middle;
  }
  &.is-visible{
    display: table!important;
  }
}

._boxHeader{
  padding-bottom: 15px;
  ._boxHeader__title{
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
    @extend .h1;
  }
  ._boxHeader__subtitle{
    position: absolute;
    left: 0;
    top: -5px;
    font-weight: 300;
    text-transform: uppercase;
    color: #333d40;
    @include font-size(3.0);
  }
}