// if gallery with 3 columns [fully responsive]
._gallery--col3{
  ._gallery-item{
    float: left;
    overflow: hidden;
    margin-top: -1px;
    display: block;
    cursor: crosshair;
    img{
      width: 100%;
    }
  }
  @media(min-width: $screen-lg){
    ._gallery-item{
      width: 33.3333%;
    }
  }
  @media(max-width: $screen-md-max){
    ._gallery-item{
      width: 50%;
    }
  }
  @media(max-width: $screen-xs-max){
    ._gallery-item{
      width: 100%;
    }
  }
}



// Portfolio filters // ------------------------------------------------------------------------------------------------

._gallery-filters{
  text-align: center;
  margin: 50px 0 75px 0;
  &._gallery-filter--type2{
    margin-bottom: 50px;
  }
  li{
    position: relative;
    padding: 0 40px;
    line-height: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    @include t-all;
    @include font-size(1.5);
    &:after{
      content: '';
      width: 5px;
      height: 14px;
      border: 1px solid rgb(156,156,156);
      border: 1px solid rgba(156, 156, 156, 0.8);
      border-width: 0 1px;
      position: absolute;
      right: -3px;
      top: 0;
    }
    &:hover{
      color: #333333;
    }
    i{
      margin-right: 10px;
    }
  }
}

// Gallery item design // ----------------------------------------------------------------------------------------------

._gallery-item{
  ._gallery-item__details{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    padding: 30px;
    @include mix-rgba(0, 0, 0, .7);
    @include t-all;
    ._gallery-item__title{
      color: #fff;
      float: left;
      @include font-size(2.2);
      @include t-all;
      span{
        display: block;
        color: #8F989F;
        @include font-size(1.5);
      }
    }
    ._gallery-item__icons{
      float: right;
      a, span{
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 47px;
        border-color: #f7b71e;
        padding: 0;
        background: none;
        border-radius: 0;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        @include t-all;
        @include font-size(2.0);
        &:active{
          @include transform(scale(0.9));
        }
        + a, + span{
          margin-left: 5px;
        }
      }
    }
  }
  &:hover{
    ._gallery-item__details{
      background-color: transparent;
    }
    ._gallery-item__title{
      @include opacity(0);
      z-index: -1;
    }
  }
}