._topBar{
  background-color: #293133;
}
._list-info{
  margin: 0;
  li{
    padding: 0;
    float: left;
    margin: 10px 0;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child{
      border: 0 none;
      a{
        padding-left: 0;
      }
    }
    a{
      position: relative;
      display: block;
      color: #fff;
      padding: 7px 10px 10px 10px;
      &:after{
        position: absolute;
        bottom: -5px;
        left: 50%;
        color: transparent;
        content: '.';
        text-shadow: 0 0 transparent;
        font-size: 1.2em;
        -webkit-transition: text-shadow 0.3s, color 0.3s;
        -moz-transition: text-shadow 0.3s, color 0.3s;
        transition: text-shadow 0.3s, color 0.3s;
        pointer-events: none;
        @include transform(translateX(-50%));
      }
      &:hover{
        &:after{
          color: #fff;
          text-shadow: 10px 0 #ffffff, -10px 0 #ffffff;
        }
      }
      i{
        margin-right: 5px;
      }
    }
  }
}