html, body{
  height: 100%;
}
html, body, img, figure {
  max-width: 100%;
}

html, body {
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  color: #8F989F;
}
body{
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a {
  transition: all, $transition-duration, $transition-timing-function;
}

button, .btn {
  transition: background-color, $transition-duration, $transition-timing-function;
}

* {
  outline: none !important;
}

ul {
  margin-bottom: 0;
}

[data-background], [data-parallax] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
[data-parallax] {
  background-attachment: fixed;
  .mobile &, .tablet & {
    background-attachment: scroll;
  }
}

.media-object {
  max-width: none;
}

.gm-style * {
  touch-action: inherit !important;
}

.ct-slick {
  .slick-track, .slick-list, .item, .slick-item {
    min-height: inherit;
  }
}

@include sm-min {
  .dropdown:hover > ul.dropdown-menu {
    display: block;
  }
};


//== HTML Font Sizes
//
//## Used for REM calculations


html {
  font-size: 50%;
}

@include sm-min {
  html {
    font-size: 55.5555%
  }
}

@include md-min {
  html {
    font-size: 62.5%
  }
}

p{
  line-height: 24px;
  margin-bottom: 0;
  @include font-size(1.4);
  &.lead{
    margin-bottom: 0;
    @include font-size(2.1);
    + .lead{
      margin-top: 25px;
    }
  }
  + p {
    margin-top: 25px;
  }
}
blockquote{
  @include font-size(1.75);
}
.animated{
  @include opacity(0);
  &.activate{
    @include opacity(1);
  }
}

@media (max-width: $screen-xs-max){
  .ct-pageWrapper{
    padding-top: 40px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    background-color: #fff;
  }
}
h1, .h1{
  @include font-size(6.0);
}
h2, .h2{
  @include font-size(4.0);
}
h3, .h3{
  @include font-size(2.4);
}
h5, .h5{
  @include font-size(1.5);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  color: #333333;
}

._link{
  position: relative;
  display: inline-block;
  padding: 5px 0;
  letter-spacing: 1px;
  &:after{
    position: absolute;
    bottom: -5px;
    left: 50%;
    color: transparent;
    content: '.';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    pointer-events: none;
    @include transform(translateX(-50%));
  }
  &:hover{
    &:after{
      color: #fff;
      text-shadow: 10px 0 #ffffff, -10px 0 #ffffff;
    }
  }
}

$prefixes: ("-moz-", "");
@mixin selection($color, $background) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
    }
  }
}