$motive:  #f7b71e;

a:hover, a:focus, a:active {
  color: $motive;
}
// Navbar //

._color--motive{
  color: $motive;
}

.navbar.navbar-default{
  .navbar-nav{
    > li {
      &.active{
        > a{
          background-color: $motive;
          &:before{
            background-color: $motive;
          }
          &:after{
            border-top: 25px solid $motive;
          }
        }
      }
      &:not(.active){
        > a {
          &:hover{
            background-color: $motive;
          }
        }
      }
    }
  }
}

// Slick //

._slick-arrow--type1{
  .slick-next, .slick-prev{
    &:before{
      color: $motive;
    }
  }
}

// Buttons //

.btn{
  &.btn-motive{
    background-color: $motive;
  }
}

.btn{
  &.btn--whiteBorder{
    &.btn-hover--type2{
      &:hover{
        border-color: $motive;
        color: $motive;
      }
    }
  }
}

// Portfolio filters //

._gallery-filters{
  li.active{
    color: $motive;
  }
}

._gallery-item{
  ._gallery-item__details{
    ._gallery-item__icons{
      a, span{
        border: 1px solid $motive;
      }
    }
  }
  &:hover{
    ._gallery-item__details{
      ._gallery-item__icons{
        a, span{
          background-color: $motive;
        }
      }
    }
  }
}

// Icon box //

._iconBox{
  ._iconBox__icon{
    background-color: $motive;
  }
  &._iconBox--transparent{
    ._iconBox__content{
      ._iconBox__title{
        color: $motive;
      }
    }
  }
}

// Article box //

._articleBox{
  border: 1px solid rgba(156, 156, 156, 0.3);
  overflow: hidden;
  ._articleBox__header{
    .media-left{
      ._articleBox__icon{
        background-color: $motive;
        &:after{
          border-color: transparent transparent transparent $motive;
        }
      }
    }
  }
  &:hover{
    ._articleBox__title{
      color: $motive;
    }
  }
}

// Link //

._link{
  color: $motive;
  &._link--motive {
    &:hover{
      &:after{
        color: $motive;
        text-shadow: 10px 0 $motive, -10px 0 $motive;
      }
    }
  }
}

// Back to top //

.ct-btn--scrollUp{
  &:hover{
    i {
      color: $motive;
    }
  }
}

// Copyright //

._copyright {
  a{
    &:hover{
      color: $motive;
    }
  }
}

// Address //

._address {
  ._address__title{
    color: $motive;
  }
  .media-left{
    i{
      color: $motive;
    }
  }
}


// Divider section //
._sectionDivider{
  &._sectionDivider--motive{
    background-color: $motive;
  }
}

// Selection //

@include selection(#fff, $motive);

// Breadcrumbs //

.breadcrumb{
  background-color: transparent;
  margin-top: 15px;
  li{
    a {
      &:hover{
        color: $motive;
      }
    }
  }
}

// Overlays

._bg-overlay{
  &._overlay--2{
    &:before{
      background-color: $motive;
    }
  }
}


// 404 error page

._error404{
  ._error404__number{
    color: $motive;
  }
}

// Blog

.widget_tag_cloud {
  .tagcloud {
    .tag-link {
      &:hover, &:focus, &:active {
        border-color: $motive;
        color: $motive;
      }
    }
  }
}

._widget_search{
  .form-group{
    .form-control{
      &:focus{
        border-color: $motive;
      }
    }
  }
}

// widget recent posts

._widget_recentPosts {
  .media {
    .media-body {
      ._date {
        i {
          color: $motive;
        }
      }
    }
  }
}

// Blog featured posts [variations: standard, small]


._featuredPost {
  &._featuredPost--standard {
    ._featuredPost__media {
      ._featuredPost__comment {
        background-color: $motive;
      }
    }
    ._featuredPost__meta {
      ._metaAuthor, ._metaCategories {
        i {
          color: $motive;
        }
      }
    }
  }
}