@import url("https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,700,700italic,900,900italic&subset=latin,latin-ext");
//
// Includes
// --------------------------------------------------

$assetPath : "../";
//Functions


//** Mixins and Variables
@import 'variables';
@import 'bootstrap/bootstrap/mixins';
@import 'mixins';

//** Plugins

@import 'components/slick';
@import "components/mediasections";
@import 'components/twentytwenty';
@import "components/lightgallery/lg-transitions";
@import "components/lightgallery/lightgallery";
@import "dom-elements/portfolio";

//** Animate CSS
@import 'animate-css/animate';


//** Global
@import 'global';
@import 'utilities';

//== Components
//
//##
@import 'components/navbar';
@import 'components/background-effects';
@import 'dom-elements/top-bar';
@import "components/key-frames";
@import "dom-elements/buttons";
@import "dom-elements/accordions";
@import "dom-elements/blog";

@import "utilities/u-settings";

@import "dom-elements/header-page";

/**
 * Comment compiled to CSS example
 */

//** Motive
@import 'motive';


// Slider Header // ----------------------------------------------------------------------------------------------------

._sliderHeader{
  ._sliderHeader__title,
  ._sliderHeader__subtitle,
  ._sliderHeader__description{
    color: #fff;
  }
  ._sliderHeader__title,
  ._sliderHeader__subtitle{
    font-weight: 300;
  }
  ._sliderHeader__title{
    margin-bottom: 0;
  }
  ._sliderHeader__subtitle{
    margin-top: 5px;
  }
  ._sliderHeader__description{
    font-weight: 300;
    padding-top: 25px;
    @include font-size(1.8);
  }
}
._sliderHeader--primary{
  ._sliderHeader__title{
    color: #fff;
    font-weight: 300;
    margin-top: 0;
    @extend .h1;
  }
  ._sliderHeader__box{
    padding: 15px;
    display: inline-block;
    border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255, 255, 255, 0.15);
    ._sliderHeader__box__text{
      margin: 0;
      padding: 0;
      color: #fff;
      font-weight: 300;
      @media (max-width: $screen-phone){
        @include font-size(1.6);
      }
      ._text__bg{
        padding: 0 13px;
        display: inline-block;
        line-height: 38px;
        &._text__bg--gray{
          background-color: #9c9c9c;
        }
        &._text__bg--motive{
          background-color: $motive;
        }
      }
    }
  }
  ._sliderHeader__icons{
    margin-top: 25px;
    ._sliderHeader__icon{
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      color: #fff;
      margin-right: 15px;
      @include font-size(5);
      @include mix-rgba(0,0,0,.3);
      @media (max-width: $screen-xs-max){
        width: 80px;
        height: 80px;
        line-height: 80px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

// Section Header // ---------------------------------------------------------------------------------------------------

._sectionHeader{
  ._sectionHeader__title{
    text-transform: uppercase;
    margin: 0;
    background-image: url("#{$assetPath}images/content/divider1.png");
    background-position: 50% 50%;
    background-repeat: repeat-x;
    > span{
      background-color: #fff;
      padding: 0 35px;
      @media (max-width: $screen-xs-max){
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  ._sectionHeader__subtitle{
    color: #8F989F;
    line-height: 1.5;
  }
  &._sectionHeader__white{
    ._sectionHeader__title{
      display: inline-block;
      background-position-y: 0;
      padding-top: 15px;
      color: #fff;
      margin-bottom: 0;
    }
    ._sectionHeader__subtitle{
      color: #fff;
      margin-top: 15px;
    }
  }
  &._sectionHeader__big{
    ._sectionHeader__title{
      background: none;
      color: #323232;
      letter-spacing: -4px;
      text-transform: uppercase;
      font-weight: 800;
      @include font-size(6.0);
      @media (max-width: $screen-md-max){
        letter-spacing: 0;
        @include font-size(4);
      }
    }
    ._sectionHeader__subtitle{
      color: #fff;
      margin: 0 0 0;
      font-weight: 800;
      letter-spacing: -4px;
      text-transform: uppercase;
      line-height: 1;
      @include font-size(10);
      @media (max-width: $screen-md-max){
        @include font-size(5);
        letter-spacing: 0;
      }
    }
  }
}

._boxHeader{
  text-transform: capitalize;
  margin-top: 0;
  @include font-size(2.1);
}

._sectionDivider{
  &._sectionDivider--motive{
    padding: 25px 0;
    @media (max-width: $screen-xs-max){
      padding: 0;
    }
  }
}

// Header // -----------------------------------------------------------------------------------------------------------

._header{
  padding: 29px 0;
  background: #333d40;
}


// Socials // ----------------------------------------------------------------------------------------------------------

._socialBox{
  li {
    a{
      display: block;
      width: 43px;
      height: 43px;
      text-align: center;
      line-height: 43px;
      color: #fff;
      background-color: #f7b71e;
      @include mix-rounded($radius: 50%);
      @include font-size(2.0);
    }
  }
}

// Tooltips // ---------------------------------------------------------------------------------------------------------

.tooltip{
  top: -10px!important;
  .tooltip-inner{
    padding: 10px 10px;
    @include mix-rounded($radius: 0);
  }
}


// Preloader // --------------------------------------------------------------------------------------------------------

#preloader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 99999;
  overflow: hidden;
  .loader{
    height: 130px;
    width: 130px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -65px;
  }
}

// Slick // ------------------------------------------------------------------------------------------------------------
.ct-slick.slick-slider{
  margin-bottom: 0;
}
.ct-slick{
  margin: 0;
  .slick-track{
    cursor: e-resize;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    &:active {
      cursor: e-resize;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
  }

  // Full width image

  &._slick--fullWidthImage{
    img{
      width: 100%;
    }
  }
}
._slick-arrow--type1{
  .slick-prev,
  .slick-next{
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
    top: auto;
    bottom: 0;
    font-size: 30px;
  }
  .slick-next{
    border-width: 0 0 100px 100px;
    border-color: transparent transparent #fff transparent;
    &:before{
      font-family: 'fontawesome';
      content: '\f054';
      bottom: -75px;
      right: 25px;
      position: absolute;
    }
  }
  .slick-prev{
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #fff;
    &:before{
      font-family: 'fontawesome';
      content: '\f053';
      margin-left: -75px;
      margin-top: -20px;
      position: absolute;
    }
  }
}

._slick-arrow--type2{
  overflow: hidden;
  .slick-track{
    cursor: default;
    &:active{
      cursor: default;
    }
  }
  .slick-prev,
  .slick-next{
    width: 40px;
    height: 40px;
    border: 0 none;
    background-color: transparent;
    top: 50%;
    margin-top: -20px;
    bottom: auto;
    font-size: 30px;
    position: absolute;
    @include opacity(.7);
    &:hover{
      @include opacity(1);
    }
  }
  .slick-prev{
    left: -50px;
    background-image: url("#{$assetPath}images/content/arrow-left-black.png");
    @media (max-width: $screen-phone){
      left: 0;
    }
  }
  .slick-next{
    right: -50px;
    background-image: url("#{$assetPath}images/content/arrow-right-black.png");
    @media (max-width: $screen-phone){
      right: 0;
    }
  }
  &:hover{
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 0;
    }
  }
}

._slick-dots--type1{
  .slick-dots{
    width: 700px;
    left: 50%;
    margin-left: -350px;
    bottom: 0;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    &:before{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 375px 100px 375px;
      border-color: transparent transparent #fff transparent;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -375px;
      bottom: -25px;
    }
    li{
      button{
        position: relative;
        background-color: transparent;
        border: 2px solid #333d40;
        padding: 0;
        @include mix-rounded($radius: 50%);
        &:before{
          content: '';
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          position: absolute;
          display: block;
          background-color: #293133;
          @include opacity(0);
          @include mix-rounded($radius: 50%);
          @include t-all();
        }
      }
      &.slick-active{
        button{
          &:before{
            @include opacity(1);
          }
        }
      }
    }
  }
}

// Icon box // ---------------------------------------------------------------------------------------------------------

._iconBox{
  ._iconBox__icon{
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    @include font-size(2.6);
  }
  .media-left{
    padding-right: 15px;
  }
  .media-body{
    ._iconBox__title{
      margin-bottom: 15px;
      @include font-size(2.0);
    }
    ._iconBox__description{

    }
  }
  + ._iconBox{
    padding-top: 30px;
    margin-top: 0;
  }
  // Icon box transparent
  &._iconBox--transparent{
    ._iconBox__icon{
      display: table-cell;
      vertical-align: top;
      color: #fff;
      padding-right: 0;
      text-align: center;
      background-color: transparent;
      @include font-size(8.8);
      .inner{
        width: 150px;
        height: 150px;
        position: relative;
        line-height: 150px;
        @media (max-width: $screen-sm-max){
          width: 100px;
          height: 100px;
          line-height: 100px;
        }
        @include mixRGBA(bg,255,255,255,.2);
        &:before{
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          top: 50%;
          margin-top: -5px;
          right: -10px;
          border-style: solid;
          border-width: 7.5px 0 7.5px 10px;
          border-color: transparent transparent transparent rgba(255,255,255,.2);
        }
      }
    }
    ._iconBox__content{
      padding-left: 20px;
      ._iconBox__description{
        color: #fff;
      }
    }
  }

  //Icon box motive
  &._iconBox--motive{
    ._iconBox__icon{
      margin: 0 auto;
      background-color: transparent;
      color: $motive;
      @include font-size(4.8);
    }
    ._iconBox__title{
      margin: 0 0 0;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 34px;
      color: #fff;
      @include font-size(3.4);
    }
    ._iconBox__subtitle{
      line-height: 22px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 0;
      @include font-size(2.2);
      @include mixRGBA(color, 255,255, 255, .8);
    }
    ._iconBox__description {
      margin: 20px 0 40px;
      color: #808080;
      @include font-size(1.8);
    }
  }
}

// Article box // ------------------------------------------------------------------------------------------------------

._articleBox{
  ._articleBox__header{
    .media-left{
      padding-right: 35px;
      @media (max-width: $screen-sm-max){
        padding-right: 15px;
      }
      ._articleBox__icon{
        display: block;
        position: relative;
        color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: $motive;
        text-align: center;
        @include font-size(2.6);
        &:after{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 10px 10px;
          right: -10px;
          top: 50%;
          margin-top: -10px;
        }
      }
    }
    .media-body{
      vertical-align: middle;
      @media (max-width: $screen-sm-max){
        ._articleBox__date{
          @include font-size(1.4);
        }
      }
    }
  }
  ._articleBox__content{
    ._articleBox__image{
      display: block;
      overflow: hidden;
      img{
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        width: 100%;
        @include backvisibility();
      }
    }
    ._articleBox__description{
      background: #f2eded;
      padding: 0 40px 40px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      @media (max-width: $screen-sm-max) {
        padding: 0 10px 10px;
      }
      ._inner{
        padding: 15px;
        background-color: #fff;
        margin-top: -40px;
        position: relative;
        ._articleBox__title{
          margin-top: 0;
          font-weight: 600;
          @media (max-width: $screen-sm-max){
            @include font-size(1.5);
          }
          a{
            margin: 0;
            &:hover{
              color: #333333;
            }
          }
        }
        a{
          display: table;
          margin: 0 0 0 auto;
        }
      }
    }
  }
  &:hover{
    ._articleBox__content{
      ._articleBox__image{
        img{
          @include transform(scale(1.3));
        }
      }
    }
  }
}

// Footer // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._footer{
  position: relative;
  .inner{
    padding: 25px 0;
    ._copyright{
      span{
        text-transform: uppercase;
      }
    }
  }
}

// Address // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._address {
  padding: 20px 20px 20px;
  @include mix-rgba(255,255,255,.15);
  ._address__title{
    text-transform: capitalize;
    @include font-size(2.1);
    margin-top: 0;
  }
  .media{
    padding-top: 15px;
    margin-top: 0;
  }
  .media-body{
    @include mixRGBA(color, 255, 255, 255, 1);
    @include backvisibility();
    br{
      content: '';
      display: block;
      height: 5px;
    }
    ._link{
      margin-top: -5px;
      letter-spacing: 0;
      @include mixRGBA(color, 255, 255, 255, 1);
    }
  }
  &._address--type2{
    padding: 0;
    ._address__element{
      border-bottom: 1px solid #e1e1e1;
      padding: 30px 0 15px 0;
      i{
        @include font-size(2.4);
      }
      ._address__title{
        font-weight: 800;
      }
      ._address__description {
        font-weight: 300;
        color: #808080;
        @include font-size(1.8);
      }
      a{
        &:hover{
          span{
            color: #000;
          }
        }
      }
      &:nth-of-type(1){
        border-top: 1px solid #e1e1e1;
      }
    }
  }
}

// Scroll to top buttom // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.ct-btn--scrollUp{
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  line-height: 40px;
  left: 0;
  right: 0;
  top: -40px;
  border: 0;
  margin: auto;
  padding: 0;
  @include border-bottom-radius(0);
  @include border-top-radius(3px);
  @include font-size(2.8);
}

// Contact form // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._contactForm--box{
  padding: 20px 20px 20px;
  @include mixRGBA(bg,255,255,255,.15);
}

._contactForm{
  .form-group{
    position: relative;
    label{
      position: absolute;
      left: 20px;
      top: 50%;
      -webkit-transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      font-weight: 300;
      @include transform(translate3d(0, -50%, 0));
      @include backvisibility();
    }
  }
  .form-control{
    border: 0 none;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #fff;
    @include mix-rounded(0);
    @include box-shadow(none);
    @include mixRGBA(bg,0,0,0,.6);
    @include t-all();
    &:focus{
      @include mixRGBA(bg,0,0,0,.9);
      + label{
        @include transform(translate3d(-35%, -160%, 0));
        @include font-size(1.1);
        @include mixRGBA(color,255,255,255,.5);
      }
    }
    &.not-empty{
      + label{
        @include transform(translate3d(-35%, -160%, 0));
        @include font-size(1.1);
        @include mixRGBA(color,255,255,255,.5);
      }
    }
  }
  textarea.form-control{
    height: 150px;
    + label{
      top: 15px;
      left: 15px;
      @include transform(translate3d(0, 0, 0));
    }
    &:focus{
      + label {
        @include transform(translate3d(-20%, -100%, 0));
      }
    }
    &.not-empty{
      + label{
        @include transform(translate3d(-20%, -100%, 0));
        @include font-size(1.1);
        @include mixRGBA(color,255,255,255,.5);
      }
    }
  }
}

._contactForm._contactForm--type2{
  .form-control{
    background-color: #fff;
    text-transform: uppercase;
    font-style: italic;
    color: #323232;
    font-weight: 600;
    border: 1px solid #7f7f7f;
    @include font-size(1.4);
  }
}

._contactForm._contactForm--type3{
  .form-control{
    background-color: #fff;
    max-width: 480px;
    font-style: italic;
    color: #323232;
    font-weight: 600;
    border: 1px solid #7f7f7f;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .form-group{
    position: relative;
    display: inline-block;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    button{
      position: absolute;
      border: 0 none;
      background: none;
      top: 14px;
      right: 15px;
    }
  }
}

.ct-mediaSection-video[data-type="video"] {
  position: absolute;
  min-width: 100%;
  overflow: hidden;
  background-color: #000;
  height: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
._btn-video{
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  ._btn-play{
    text-indent: -9999px;
    display: inline-block;
    background-color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent rgba(255,255,255,.4);
    padding: 0;
    margin: 0;
    @include t-all();
    &:hover{
      border-color: transparent transparent transparent rgba(255,255,255,1);
    }
  }
  ._btn-pause{
    opacity: 0;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    pointer-events: none;
    border: 0;
    background: none;
    text-indent: -9999px;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40px;
      background-color: #fff;
      display: block;
      pointer-events: none;
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 40px;
      background-color: #fff;
      display: block;
      pointer-events: none;
    }
  }
}
.ct-mediaSection[data-type="video"]{
  cursor: pointer;
}
.ct-mediaSection[data-type="video"].moving{
   ._btn-play{
     pointer-events: none;
     opacity: 0;
   }
   &:hover{
     ._btn-pause{
       opacity: 1;
       pointer-events: auto;
     }
   }
 }
.ct-mediaSection[data-type="video"].stop-moving{
  ._btn-play{
    pointer-events: auto;
    opacity: 1;
  }
  &:hover{
    ._btn-pause{
      opacity: 0;
      pointer-events: none;
    }
  }
}

// Testimonials // -----------------------------------------------------------------------------------------------------

._testimonial{
  img{
    margin: 0 auto 45px auto;
    @include mix-rounded(50%);
  }
  ._testimonial__quote{
    color: #8F989F;
    @include font-size(1.6);
  }
  ._testimonial__name{
    margin: 5px 0 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #303030;
    @include font-size(1.0);
  }
  &._testimonial--type2{
    ._testimonial__quote{
      position: relative;
      border: 0 none;
      margin: 0 auto;
      color: #323232;
      font-style: italic;
      font-weight: 600;
      padding-left: 48px;
      padding-right: 48px;
      @include font-size(2.2);
      &:before{
        content: '\f10d';
        font-family: 'fontawesome';
        position: absolute;
        left: 5px;
        top: 0;
      }
      &:after{
        content: '\f10e';
        font-family: 'fontawesome';
        position: absolute;
        right: 5px;
        top: 0;
      }
    }
    img{
      padding: 15px 0;
      width: auto;
      margin: 0 auto;
    }
    ._testimonial__name{
      color: #fff;
      text-transform: capitalize;
      @extend .h3;
    }
    ._testimonial__role{
      color: #323232;
      font-weight: 100;
      @include font-size(3.0);
    }
  }
}


// Drop us a  line // --------------------------------------------------------------------------------------------------

._link__dropUs{
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  position: relative;
  @include font-size(2.4);
  &:hover{
    color: #fff;
  }
  &:before, &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 1;
    @include transition(transform 0.3s, opacity 0.3s);
  }
  &:before{
    top: 0;
    @include transform(translateY(-5px));
  }
  &:after{
    bottom: 0;
    @include transform(translateY(5px));
  }
  &:hover{
    &:before{
      top: 15px;
      @include transform(rotate(45deg) translateY(0));
    }
    &:after{
      top: 15px;
      @include transform(rotate(-45deg) translateY(0));
    }
  }
}

// Portfolio extended project Wrapper

.projectWrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  overflow-y: scroll;
  @include mixRGBA(bg, 255, 255, 255, .9);
  .inner{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    ._tableCell{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .close-btn{
    position: absolute;
    top: 45px;
    right: 45px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
  }
}

._portfolioExtendBox{
  ._portfolioExtendBox_header{
    ._portfolioExtendBox_header__title{
      display: inline-block;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 35px;
      &:after, &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
      }
      &:after{
        height: 1px;
        background-color: #ccc;
        bottom: 0;
      }
      &:before{
        height: 2px;
        background-color: $motive;
        bottom: 0;
        width: calc(100% / 4);
        z-index: 2;
      }
    }
  }
  ._portfolioExtendBox_middle{
    padding-top: 25px;
    ._portfolioExtendBox_middle__projectTitle{
      padding-bottom: 25px;
    }
  }
}

// Lists

._list--projectsInfo{
  li{
    padding: 9px 0 10px 26px;
    border-top: 1px solid #CBC8C7;
    color: #000;
    span{
      font-weight: 300;
    }
    i{
      padding-right: 10px;
      color: $motive;
    }
    &:last-child{
      border-bottom: 1px solid #CBC8C7;
    }
  }
  &._list--bigger{
    li{
      @include font-size(2.0);
    }
  }
  &._list--grayMode{
    li{
      padding-left: 0;
      color: #8F989F;
      font-weight: 300;
      @include font-size(1.8);
    }
  }
}

// PromoBox

._promoBox{
  margin-top: 50px;
  position: relative;
  background-color: #464646;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 100%;
    background-color: #464646;
  }
  &._promoBox__type2{
    &:after{
      display: none;
    }
  }
  ._iconBox{
    border-right: 1px solid #696969;
  }
  [class^='col']{
    &:last-of-type{
      ._iconBox{
        border: 0 none;
      }
    }
  }
}

// Image Box

._imageBox{
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  figcaption{
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    @include transition(all 0.3s ease 0s);
    ._imageBox__title{
      margin: 0 30px;
      background-color: $motive;
      padding: 15px 0;
      font-weight: 800;
      text-transform: uppercase;
      color: #323232;
      @include font-size(3.4);
    }
  }
  ._imageBox__description {
    position: absolute;
    top: 0;
    margin: 0 30px;
    background-color: #323232;
    @include transition(all 0.3s ease 0s);
    @include opacity(0);
    p {
      margin-bottom: 20px;
      padding: 40px 6px 0;
      color: #fff;
    }
    a{
      margin-bottom: 45px;
    }
  }
  &:hover{
    figcaption{
      bottom: 80%;
    }
    ._imageBox__description{
      z-index: 1;
      top: 80px;
      @include opacity(.9)
    }
  }
}


// 404 error page

._error404{
  text-align: center;
  ._error404__number{
    @include font-size(20);
  }
  ._error404__title{
    font-weight: 800;
    @include font-size(4);
  }
  ._error404__titleDuplicated{
    font-weight: 300;
    @include font-size(2.8);
  }
}