@mixin fullAbsolute(){
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
._bg-overlay{
   position: relative;
   &._overlay--1{
     &:before{
       content: '';
       background-image: url("#{$assetPath}images/content/overlay-pattern.png");
       @include fullAbsolute();
     }
   }
   &._overlay--2{
     &:before{
       content: '';
       background-color: $motive;
       @include opacity(.9);
       @include fullAbsolute();
     }
   }
  &._overlay--3{
    &:before{
      content: '';
      background-color: #fff;
      @include opacity(.9);
      @include fullAbsolute();
    }
  }
 }