@each $color_name, $color_value in $colors {
  .ct-u-background--#{$color_name} {
    background-color: $color_value !important;
  }
  .ct-u-color--#{$color_name} {
    color: $color_value !important;
  }
}


@mixin mix-rgba ($red, $green, $blue, $alpha){
  background-color: rgb($red, $green, $blue);
  background-color: rgba($red, $green, $blue, $alpha);
}

@mixin mixRGBA ($type, $red, $green, $blue, $alpha){
  $rgb  : rgb($red, $green, $blue);
  $rgba : rgba($red, $green, $blue, $alpha);
  @if $type == 'color'{
    color: $rgb;
    color: $rgba;
  } @else if ( $type == 'bg' ){
    background-color: $rgb;
    background-color: $rgba;
  }
}


