//
// Element Full Height
// --------------------------------------------------

@mixin full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//
// Overflows
// --------------------------------------------------

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ct-u-overflow-ellipsis {
  @include overflow-ellipsis;
}
.ct-u-overflow-hidden {
  overflow: hidden;
}
.ct-u-overflow-visible {
  overflow: visible;
}

//
// Text Color
// --------------------------------------------------
@mixin text-color($value) {
  color: $value;
  &:hover, &.hover,
  &:active, &.active,
  &:focus, &.focus {
    color: $value;
  }
}

// Background-color //

@mixin mix-rgba($red, $green, $blue, $alpha){
  background-color: rgb($red, $green, $blue);
  background-color: rgba($red, $green, $blue, $alpha);
}


// Rounded

@mixin mix-rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Box shadow

@mixin dropShadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1){
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// Transform

@mixin transform($arg){
  transform: $arg;
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -ms-transform: $arg;
}

// Box shadow

@mixin textShadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: #000){
  -webkit-text-shadow: $x-axis $y-axis $blur $color;
  -moz-text-shadow: $x-axis $y-axis $blur $color;
  text-shadow: $x-axis $y-axis $blur  $color;
}

@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0, $start),
          color-stop(1, $stop));
  background: -ms-linear-gradient(bottom,
          $start,
          $stop);
  background: -moz-linear-gradient(center bottom,
          $start 0%,
          $stop 100%);
  background: -o-linear-gradient($stop,
          $start);
}

// Backface visibility

@mixin backvisibility(){
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

// Placeholder

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
