footer._footer
    +button_scroll_up('fa-chevron-up')
    .inner
        .container
            .row
                .col-sm-12.text-center
                    h4 I #[i.fa.fa-heart._color--motive._anim--beatingHeart] your mom.
                    span._copyright Powered by #[a(href="#") wielicki-it]