header._header
    .container
        .row
            .col-sm-6.text-center-xs.text-left-sm
                img(src="http://vowthemes.com/demo/html/construction/images/logo.png" alt="")
            .col-sm-6.hidden-xs
                ul.list-unstyled.list-inline._socialBox.text-right
                    li: a(href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"): i.fa.fa-google-plus
                    li: a(href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"): i.fa.fa-facebook
                    li: a(href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"): i.fa.fa-twitter

