nav.navbar.navbar-default.sticky-menu
    .container
        .row
            .col-sm-12
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li: a(href="index.html") Home page
                        li.dropdown
                            a(href="about-1.html") About
                            ul.dropdown-menu
                                li: a(href="about-1.html") About 1
                                li: a(href="#") About 2
                                li: a(href="#") About 3
                                li: a(href="#") About 4
                        li.dropdown
                            a(href="our-projects-1.html") Our projects
                            ul.dropdown-menu
                                li: a(href="our-projects-1.html") Projects 1
                                li: a(href="#") Projects 2
                                li: a(href="#") Projects 3
                        li.dropdown
                            a(href="praca.html") Service
                            ul.dropdown-menu
                                li: a(href="#") Service 1
                                li: a(href="#") Service 2
                                li: a(href="#") Service 3
                        li.dropdown
                            a(href="news.html") News
                            ul.dropdown-menu
                                li: a(href="blog-left-sidebar.html") Blog - left sidebar
                                li: a(href="#") Blog 2col
                                li: a(href="#") Blog 3col
                                li: a(href="#") Blog single
                                li: a(href="404.html") 404
                        li: a(href="contact.html") Contact
                        li: a(href="shortcodes.html") Shortcodes

