.container
    .row
        .col-sm-12
            ._portfolioExtendBox.text-left
                ._portfolioExtendBox_header
                    h2._portfolioExtendBox_header__title
                        block title
                    p._portfolioExtendBox_header__subtitle
                        block subtitle
                .row
                    .col-sm-4
                        ._portfolioExtendBox_middle
                            h3._portfolioExtendBox_middle__projectTitle Project - basic information
                            ul.list-unstyled._list--projectsInfo
                                block list
                    .col-sm-8
                        ._portfolioExtendBox_middle
                            h3._portfolioExtendBox_middle__projectTitle Project - services
                            p
                                block projectInfo
include ../includes/promo-box