._promoBox
    .container
        .row
            .col-sm-4.ct-u-padding-both-75
                ._iconBox._iconBox--motive.text-center
                    ._iconBox__icon
                        i.fa.fa-paper-plane
                    ._iconBox__content
                        h3._iconBox__title About our
                        h4._iconBox__subtitle Company
                        p._iconBox__description Know more about our company
                        a(href="#").btn.btn--whiteBorder About page
                            i.fa.fa-angle-double-right
            .col-sm-4.ct-u-padding-both-75
                ._iconBox._iconBox--motive.text-center
                    ._iconBox__icon
                        i.fa.fa-pencil
                    ._iconBox__content
                        h3._iconBox__title Our blog
                        h4._iconBox__subtitle Posts
                        p._iconBox__description Check out our recent news and events
                        a(href="#").btn.btn--whiteBorder Blog page
                            i.fa.fa-angle-double-right
            .col-sm-4.ct-u-padding-both-75
                ._iconBox._iconBox--motive.text-center
                    ._iconBox__icon
                        i.fa.fa-photo
                    ._iconBox__content
                        h3._iconBox__title Gallery
                        h4._iconBox__subtitle Folio
                        p._iconBox__description Check our portfolio and photos
                        a(href="#").btn.btn--whiteBorder Gallery page
                            i.fa.fa-angle-double-right