._topBar.hidden-xs
    .container
        .row
            .col-sm-12
                ul.list-unstyled.list-inline._list-info
                    li: a(href='tel:605954481')._link
                        i.fa.fa-phone
                        |  605&ensp;954&ensp;481
                    li: a(href='fax:4599743222')._link
                        i.fa.fa-fax
                        |  45&nbsp;997&nbsp;432&nbsp;22
                    li: a(href='mailto:ineea@ineea.pl')._link
                            i.fa.fa-envelope-o
                            |  ineea@ineea.pl
                    li: a(href='skype:construction')._link
                        i.fa.fa-skype
                        |  construction